.Footer {
  color: white;
  font-family: "Grenze Gotisch", serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 0;
  text-align: center;
  text-transform: lowercase;
  margin-bottom: 100px;
}

.Footer a {
  color: white;
  opacity: 0.5;
  text-decoration: none;
}

.Footer a:hover {
  opacity: 1;
  transition: all 200ms ease-in-out;
}
